*, *::before *::after {
    box-sizing  : border-box;
    font-family : Arial, serif;
}

body {
    background-color : #333;
    display          : flex;
    justify-content  : center;
    align-content    : center;
    height           : 100vh;
    margin           : 0;
    font-size        : 7.5vmin;
}

#game-board {
    /*--grid-size           : 4;*/
    /*--cell-gap            : 2vmin;*/
    /*--cell-size           : 20vmin;*/

    background-color      : #CCC;
    display               : grid;
    border-radius         : 1vmin;
    position              : relative;
    gap                   : var(--cell-gap);
    padding               : var(--cell-gap);
    grid-template-columns : repeat(var(--grid-size), var(--cell-size));
    grid-template-rows    : repeat(var(--grid-size), var(--cell-size));
}

.cell {
    background-color : #AAA;
    border-radius    : 1vmin;
}

.tile {
    /*--x                    : 0;*/
    /*--y                    : 0;*/
    /*--background-lightness : 80%;*/
    /*--text-lightness       : 20%;*/

    position         : absolute;
    display          : flex;
    font-weight      : bold;
    border-radius    : 1vmin;
    justify-content  : center;
    align-items      : center;
    margin           : var(--cell-gap);
    height           : var(--cell-size);
    width            : var(--cell-size);
    transition       : 100ms ease-in-out;
    animation        : show 200ms ease-in-out;
    color            : hsl(200, 25%, var(--text-lightness));
    background-color : hsl(200, 50%, var(--background-lightness));
    top              : calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left             : calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
}

@keyframes show {
    0% {
        opacity   : .5;
        transform : scale(0);
    }
}

